---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44 ">
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
				Hola, soy Diego Flores <a 
				class="flex justify-center items-center"
				href="https://www.linkedin.com/in/dafloresm"
				target="_blank"
				rel="noop"
				>
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl opacity-80 text-wrap">
				+3 años de experiencia. Desarrollador Web y Mobile. De Ciudad de México, 
				México 🇲🇽. Especializado en soluciones impresionantes y a la medida.
			</h2>
			<ul>
				<li>
					<a href="https://www.linkedin.com/in/dafloresm">
						Linked In
					</a>
				</li>
			</ul>
		</section>
	</main>
</Layout>
