<header class="flex justify-between items-center py-3 w-[1120px] mx-auto">
    <img 
    class="rounded-full w-12 h-12" 
    src="https://avatars.githubusercontent.com/u/26553908?s=400&u=dbcd83ba3a75f6bb2a0723daec25f37dca984585&v=4" 
    alt="diego photo"
    />
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>